<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XTrafficIncident -->
      <package
            uri="http://org.genivi.xtrafficinfo"
            class="org.genivi.trafficincidentsservice.trafficincidentfeed.trafficincident.XTrafficIncidentPackage"
            genModel="model/XTrafficIncident.genmodel"/>
   </extension>

</plugin>
