<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Basetypes -->
      <package
            uri="http://org.genivi.location"
            class="org.genivi.location.LocationPackage"
            genModel="model/Basetypes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Basetypes -->
      <package
            uri="http://org.genivi.common"
            class="org.genivi.common.CommonPackage"
            genModel="model/Basetypes.genmodel"/>
   </extension>
</plugin>
