[Unit]
Description=Navit (Navigationcore part) Service for FSA configuration file
Requires=dbus.service enhanced-position-service.service
After=enhanced-position-service.service 

[Service]
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/0/dbus/user_bus_socket
Environment=NAVIT_LIBDIR=/usr/lib/navit
Environment=NAVIT_PLATFORM=wayland
Environment=NAVIT_GRAPHICS=opengl

ExecStart=/usr/bin/navit /usr/share/navigation-service/navit_genivi_navigationcore.xml

[Install]
WantedBy=default.target
