html,body {
    position:absolute;
    top: 0 px;
    left: 0 px;
    width: 800px;
    height: 480px;
    margin: 0px;
    padding: 0px;
    background-image: url("../images/navigation-settings-language-and-units-menu-background.png");
    background-repeat: no-repeat;
}
languagesTitle {
    position: absolute;
    top: 47px;
    left: 100px;
    color: #FFFF00;
    font-size: 25px;
    font-family: arial;
}
language {
    position: absolute;
    top: 91px;
    left: 98px;
    line-height:8px;
}
unitsTitle {
    position: absolute;
    top: 47px;
    left: 331px;
    color: #FFFF00;
    font-size: 25px;
    font-family: arial;
}
unit {
    position: absolute;
    top: 94px;
    left: 330px;
    line-height:8px;
}
