<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TrafficIncidentsService -->
      <package
            uri="http://org.genivi.trafficinfo.trafficincidentsservice"
            class="org.genivi.trafficincidentsservice.trafficincidentsservicePackage"
            genModel="model/TrafficIncidentsService.genmodel"/>
   </extension>

</plugin>
